@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Montserrat:wght@300;400;800&display=swap');
:root {
    --primary-color: #0171DB;
    --background: #1A303D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffff;
}

nav {
    width: 100%;
    background-color: #1A303D;
}

.nav-bar {
    padding: 1.5rem 0;
}

.container {
    max-width: 80%;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
}

.btn {
    background-color: #0171DB;
    color: white;
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
}

.links {
    text-decoration: none;
    color: white;
    padding: 0 1rem;
}